body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-color: rgba(242, 242, 230, 0);
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}

h1 {
	color: green;
	text-align: center;
	}

h2 {
	font-family: 'times new roman';
	font-weight: 10; 
	color: Red;
	}

#navbar-brand {
	color: red;
}

#summary {
	color: red;
	}

.unicorn {
	color: purple;
	}

#brian 	{
	text-align: center;
	}
